{% extends 'base.html.twig' %}

{% block title %}Money converter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Money converter application!</h1>
            <p>
                Welcome, please enter a value and press <code>Enter</code> in your keyboard.
            </p>

            <form role="form" method="post" id="submit-form">
                <input type="text" name="amount" class="form-control" id="input-value" placeholder="Enter the value..." />
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Your best option! :)</h4>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="/js/index.js"></script>
    <script id="money-template" type="text/x-handlebars-template">
        {% verbatim %}
        {{#each data}}
            <p>
                You need {{this}} of {{@key}}
            </p>
        {{/each}}
        {% endverbatim %}
    </script>
{% endblock %}
